@font-face {
  font-family: 'Eras Light';
  font-style:  normal;
  font-weight: normal;
  src:         url('../fonts/ERASLGHT.woff') ;
  }

@font-face {
  font-family: 'Eras Medium';
  font-style:  normal;
  font-weight: normal;
  src:         url('../fonts/erasitc-medium.ttf') ;
  }

@font-face {
  font-family: 'Eras Bold';
  font-style:  normal;
  font-weight: bold;
  src:         url('../fonts/ErasITCBold.ttf') ;
  }

body {
  font-family: "Eras Medium";
  margin:      0;
  padding:     0;
  }

#main-area {
  max-width: 800px;
  }

p {
  font-family: "Eras Medium";
  }

h1, h2, h3 {
  font-family:            "Eras Bold";
  -webkit-font-smoothing: antialiased;
  color:                  #0c4b20;
  }

h1 {
  font-size: 30pt;
  }

.banner {
  background-color:      #0c4b20;
  background-image:      url('../images/leaf-logo-no-text.png');
  background-repeat:     no-repeat;
  background-attachment: scroll;
  background-position:   top right;
  padding:               20px 75px;
  }

.banner h1 {
  font-family: "Eras Bold";
  text-align:  center;
  color:       #d5f9bc;
  }

.banner p {
  font-family: "Eras Light";
  color:       #d5f9bc;
  font-weight: normal;
  text-align:  center;
  font-size:   18pt;
  line-height: 1.3em;
  }

.light-banner {
  padding:       0 12%;
  margin-bottom: 20px;
  }

.light-banner h2, .light-banner img {
  text-align: center;
  }

.light-banner p {
  font-family: "Eras Medium";
  color:       #0c4b20;
  font-weight: normal;
  text-align:  center;
  font-size:   14pt;
  line-height: 1.3em;
  margin:      6px 0;
  }

.light-banner p em {
  font-weight:     bold;
  text-decoration: underline;
  }

.medium-banner, .medium-banner-enclosed {
  background-color: #d5f9bc;
  padding:          5px 15%;
  border-top:       2px solid #0c4b20;
  }

.medium-banner-enclosed {
  border-bottom: 2px solid #0c4b20;
  margin-bottom: 15px;
  padding:       0 15% 5px 15%;
  font-family:   "Eras Medium";
  }

.medium-banner-enclosed h3 {
  text-align: center;
  }

.medium-banner-enclosed p {
  margin-top: 12px;
  font-size:  12pt;
  text-align: center;
  }

.medium-banner h1, .medium-banner h2, .medium-banner h3 {
  font-family: "Eras Medium";
  text-align:  center;
  margin:      4px 0;
  }

.medium-banner h1 {
  font-size: 24pt;
  }

.medium-banner h2 {
  font-size:   18pt;
  font-family: "Eras Light";
  font-weight: normal;
  }

.image-banner {
  text-align: center;
  margin:     20px 0;
  }

.image-banner img {
  border:  2px solid #0c4b20;
  margin:  5px;
  display: inline-block;
  }

.light-banner .image-banner img {
  border: none;
  }

a {
  text-decoration: none;
  color:           inherit;
  }

a:hover {
  text-decoration: underline;
  }

#page-footer {
  margin:     15px 0 0 0;
  border-top: 1px solid #0c4b20;
  text-align: center;
  font-size:  9pt;
  }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform:         scale(1)
    }
  50% {
    -webkit-transform: scale(1.2);
    transform:         scale(1.2)
    }
  100% {
    -webkit-transform: scale(1);
    transform:         scale(1)
    }
  }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform:     scale(1);
    transform:         scale(1)
    }
  50% {
    -webkit-transform: scale(1.8);
    -ms-transform:     scale(1.8);
    transform:         scale(1.8)
    }
  100% {
    -webkit-transform: scale(1);
    -ms-transform:     scale(1);
    transform:         scale(1)
    }
  }

.pulse {
  -webkit-animation-name:            pulse;
  animation-name:                    pulse;
  -webkit-animation-duration:        .4s;
  animation-duration:                .4s;
  animation-delay:                   2s;
  -webkit-animation-delay:           2s;
  animation-iteration-count:         2;
  -webkit-animation-iteration-count: 2;
  }

#navigation {
  padding:       15px 10%;
  border-top:    3px solid #093b15;
  border-bottom: 3px solid #0c4b20;
  background:    #0c802e;
  text-align:    center;
  font-size: 12pt;
  }

#navigation p {
  display:        inline-block;
  color:          #093b15;
  margin:         3px 20px;
  font-weight:    bold;
  text-transform: uppercase;
  cursor:         pointer;
  }

#navigation a {
  text-decoration: none;
  color:           #093b15;
  }
#navigation a:hover {
  text-decoration: underline;
  color: #adff2f;
  }

.extra-top-space {
  margin-top: 25px;
  }

.agrimg-left {
  clear:   left;
  border:  3px solid #0c4b20;
  margin:  4px 15px 15px 0px;
  padding: 3px;
  float:   left;
  }

.agrimg-right {
  clear:   right;
  border:  3px solid #0c4b20;
  margin:  4px 15px 0px 15px;
  padding: 3px;
  float:   right;
  }

.agrimg-center {
  clear:     both;
  border:    3px solid #0c4b20;
  margin:    15px auto;
  display:   block;
  padding:   3px;
  max-width: 90%;
  }

.underline-header {
  margin-bottom:  18px;
  padding-bottom: 8px;
  border-bottom:  1px solid black;
  clear:          both;
  }

#sub-navigation {
  font-family: "Eras Light";
  font-size: 18pt;
  display:     block;
  margin:      15px auto;
  text-align:  center;
  }

#sub-navigation a {
  margin:          4px 15px;
  text-decoration: none;
  color:           black;
  }
#sub-navigation a:hover {
  font-family: "Eras Medium";
  }

table {
  width:  100%;
  border: 2px solid black;
  margin: 20px 0;
  }

td {
  border:      1px solid black;
  padding:     10px !important;
  margin:      10px;
  font-family: courier;
  }

.spacer {
  height: 15px;
  }

li {
  font-family:   "Eras Medium";
  font-size:     12pt;
  margin-bottom: 7px;
  }

.price {
  font-family: "Eras Light";
  font-size:   24pt;
  text-align:  center;

  }

.add_to_cart {
  display: block;
  margin:  0px auto 20px auto;
  }

.wBorder {
  border: 1px dashed grey;
  }

form input[type=image]
{
  display: block;
  margin: 10px auto;
  }